@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #region about */
.about-img {
  display: grid;
  padding-top: 25px;
}
.about-img img {
  height: 325px;
  width: 275px;
  border-radius: 16px;
  object-fit: cover;
}
.about-img-a {
  margin-left: 190px;
}
.about-img-b {
  margin-top: -235px;
  z-index: 1;
}
/* #endregion about */

/* #region header */
header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 54px;
  width: 199px;
}

header .menu {
  display: none;
  position: absolute;
  top: 2.0rem;
  right: 2.75rem;
  flex-direction: column;
  justify-content: space-between;
}

header .menu img {
  width: 2.75rem;
  height: 2rem;
}

header .recent {
  position: absolute;
  top: 6.0rem;
  left: 4.0rem;
}

header .recent img {
  width: 2.50rem;
  height: 2rem;
}

@media (max-width: 500px) {
  header .recent {
    position: absolute;
    top: 5.0rem;
    left: 4.0rem;
  }
}

/* #endregion header */

/* #region navigation */
 .active {
  background-color:  #EDEFEE;
 }

@media ( max-width: 770px ) {
  header .menu {
    display: flex;
  }
  header {
    flex-direction: column;
    align-items: start;
  }
  nav {
    display: none;
  }
 nav.open {
    display: flex;
  }
  nav ul {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    margin-top: 2.25rem;
  }
  nav ul li {
    width: 100%;
  }
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 15pt;
  font-weight: 400;
  border-radius: 10px;
  padding: 0.5em;
}

nav ul li a:not(.active):hover {
  background-color:  #EDEFEE;
}
/* #endregion navigation*/

/* #region hero */
.hero-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  background-color: #495E57;
  height: 406px;
  column-gap: 10vw;
}

@media (max-width: 500px) {
  .hero-container {
    grid-template-columns:  auto;
    height: auto;
  }
  .hero-content {
    margin-left: 5vw;
  }
}

.hero-image {
  padding-top: 25px;
}

.hero-image img {
  max-height: 438px;
  width: 375px;
  border-radius: 16px;
}

.hero-title {
  font-family: 'Markazi Text', sans-serif;
  font-size: 48pt;
  font-weight: 400;
  color: #F4CE14;
}

.hero-subtitle {
  font-family: 'Markazi Text', sans-serif;
  font-size: 30pt;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: -60px;
}

.hero-lead-text {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  font-size: 14pt;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  margin-top: -20px;
  width: 310px;
}

.hero-btn {
  width: 200px;
  height: 50px;
  border-radius: 16px;
  border: none;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-size: 14pt;
  font-weight: 500;
  margin-top: 15px;
}
/* #endregion hero */

/* #region specials */
.specials-title {
  font-family: 'Markazi Text', sans-serif;
  font-size: 45pt;
  font-weight: 500;
}

.specials-btn {
  width: 200px;
  height: 50px;
  border-radius: 16px;
  border: none;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-size: 14pt;
  font-weight: 500;
}

.specials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-one {
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;
}

.specials-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specials-item h3 {
  font-size: 15pt;
  font-weight: 800;
}

.specials-item span {
  font-size: 12pt;
  font-weight: 700;
  color: #EE9972;
}

article {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #EDEFEE;
  margin: 15px;
  max-width: 264px;
  border-radius: 16px 16px 0 0;
}

article > p, .specials-order, .specials-item {
  font-family: 'Karla', sans-serif;
  padding: 0 20px;
}

article > p {
  font-size: 12pt;
  font-weight: 400;
}

.specials-order {
  font-size: 13pt;
  font-weight: 700;
  margin-top: auto;
}

.specials img {
  width: 264px;
  height: 185px;
  border-radius: 16px 16px 0 0;
}
/* #endregion specials */

/* #region BookingForm */
 .booking-header {
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color: #495E57;
  flex-wrap: wrap;
  column-gap: 10%;
}

.booking-title {
  font-family: 'Markazi Text', sans-serif;
  font-size: 48pt;
  font-weight: 400;
  color: #F4CE14;
}
.booking-subtitle {
  font-family: 'Markazi Text', sans-serif;
  font-size: 30pt;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: -60px;
}
.booking-image img {
  border-radius: 16px;
  max-width: 375px;
  height: auto;
}

form {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 770px) {
  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: 10px;
  }
}

.form-fields {
  display: grid;
  gap: 5px;
  margin: 20px 0;
}

.form-label {
  font-family: 'Karla', sans-serif;
  font-size: 10pt;
  font-weight: 400;
}

.form-input {
  width: 357px;
  height: 50px;
  border-radius: 10px;
  font-family: 'Karla', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  background-color: #EDEFEE;
}

.form-radio {
  display: flex;
  justify-content: space-evenly;
}

.form-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-btn input {
  width: 310px;
  height: 50px;
  border-radius: 16px;
  border: none;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-size: 14pt;
  font-weight: 500;
}

select, input[placeholder] {
  font-family: 'Kara', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  padding: 0 15px;
}
/* #endregion BookingForm */

/* #region BookingDetails */
.bookingDetails-header {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #495E57;
  flex-wrap: wrap;
}

.booking-prev span {
  font-family: 'Karla', sans-serif;
  line-height: 1.25;
  font-size: 14pt;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  width: 310px;
}

.booking-prev {
  margin-top: -20px;
  padding-bottom: 20px;
}
/* #endregion BookingDetails */

/* #region ConfirmedBooking */
.confirm-modal-overlay.open{
  display: grid;
  place-items: center;
  padding: 0 20px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.confirm-modal-overlay {
  display: none;
}
.confirm-modal-content {
  place-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 16px;
}
.confirm-button {
  width: 200px;
  height: 50px;
  border-radius: 16px;
  border: none;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-size: 14pt;
  font-weight: 500;
  margin-top: 15px;
}
/* #endregion ConfirmedBooking */

/* #region footer */
footer {
  display: flex;
  background-color: #495E57;
  justify-content: center;
  margin-top: 75px;
  padding-bottom: 50px;;
  /* height: 417px; */
}

.footer-container {
  display: flex;
  padding-top: 60px;
  flex-wrap: wrap;
  gap: 2rem;
}

footer img {
  height: 279px;
  width: 162px;
  border: 1px solid black;
}

.footer-list {
  display: block;
  list-style: none;
}

.footer-list a {
  display: block;
  list-style: none;
  margin-right: 0;
  margin-left: 0;
  font-size: 12pt;
  font-weight: 300;
  color: #FFFFFF;
}

.footer-title {
  font-family: 'Karla', sans-serif;
  font-size: 15pt;
  font-weight: 500;
  color: #FFFFFF;
  padding-left: 40px;
  text-align: left;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #FFFFFF;
}

.footer-link li a {
  font-family: 'Karla', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #FFFFFF;
  padding: 0;
}
.footer-link li a{
  background-color: transparent;
}
.footer-link li a:not(.active):hover{
  background-color: transparent;
}

.footer-section {
  display: block;
  /* width: 25%; */
  /* margin-left: 10px; */
}
/* #endregion footer */

.error-message {
  color: red;
  font-family: 'Karla', sans-serif;
  font-size: 10pt;
  font-weight: 400;
}

input[type="submit" i] {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit" i]:disabled {
  background-color: rgb(244, 206, 20, 0.6);
}

input[type="submit" i]:active {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2);
}
