@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  padding: 32px;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: no wrap;
}
.header img {
  height: 54px;
  width: 199px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 15pt;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  background-color: #495E57;
  height: 406px;
  min-height: 55vh;
  flex-wrap: wrap;
}
.main-section{
  display: grid;
  grid-template-columns:
  repeat(auto-fit, minmax(250px, 1fr));
  /* background-color: #495E57; */
  /* height: 406px; */
}
.main-content {
  display: block;
  min-width: 425px;
  /* height: 331px; */
  margin-top: -10px;
}

.main-image {
  padding-top: 25px;
  position:static;
}

.main-image img {
  max-height: 438px;
  height: auto;
  /* max-width: 100%; */
  width: 375px;
  border-radius: 16px;
}

.main-title {
  font-family: 'Markazi Text', sans-serif;
  font-size: 48pt;
  font-weight: 400;
  color: #F4CE14;
}

.main-subtitle {
  font-family: 'Markazi Text', sans-serif;
  font-size: 30pt;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: -60px;
}

.main-lead-text {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  font-size: 14pt;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  margin-top: -20px;
  width: 310px;
}

.main-btn {
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-size: 14pt;
  font-weight: 500;
  margin-top: 15px;
}

footer {
  display: flex;
  background-color: #495E57;
  justify-content: center;
  margin-top: 75px;
  padding-bottom: 50px;;
  /* height: 417px; */
}

.footer-container {
  display: flex;
  padding-top: 60px;
  flex-wrap: wrap;
  gap: 2rem;
}

footer img {
  height: 279px;
  width: 162px;
  border: 1px solid black;
}

.footer-logo {
  /* width: 25%; */
}

.footer-list {
  display: block;
  list-style: none;
}

.footer-list a {
  display: block;
  list-style: none;
  margin-right: 0;
  margin-left: 0;
  font-size: 12pt;
  font-weight: 300;
  color: #FFFFFF;
}

.footer-title {
  font-family: 'Karla', sans-serif;
  font-size: 15pt;
  font-weight: 500;
  color: #FFFFFF;
  padding-left: 40px;
  text-align: left;
}

.footer-link {
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #FFFFFF;
}

.footer-section {
  display: block;
  /* width: 25%; */
  /* margin-left: 10px; */
}